/*(+)*/
.button {
	align-items: center;
	appearance: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	font-family: inherit;
	font-size: var(--text-md);
	justify-content: center;
	line-height: 1.2;
	padding: var(--space-2xs) var(--space-sm);
	transition-duration: 0.25s;
	transition-property: background-color;
	user-select: none;
}
